
.card,.cardLink {
  width: 50%;
  border: 1px solid white;
  margin: 2rem 0;
  padding: 0 1rem;
  position: relative;
}
.cardLink{
  padding: 1rem;
  display: inline-block;
  color:black;
  width: 30%;
  
}
.cardLink a{
  text-decoration: none;
  color:black
}
.cardLink input {
  width: 5rem;
}
.rate {
  display: flex;
  
}
.rate div:last-child{
  font-size: 1rem;
  color:rgb(255, 38, 0)
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  font-size: 20px;
}
.centerContent {
  display: flex;
  margin-bottom: 1.5rem;
}
.image {
  margin-right: 1rem;
}
.image img {
  width: 10rem;
  height: 10rem;
}

.addNotice{
  display: flex;
  align-items: flex-start;
}
