.card,
.cardLink {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(1, 40%);
  grid-template-rows: repeat(3, 100px);
  
  border: 1px solid white;
  margin: 2rem 0;
  padding: 0 1rem;
  position: relative;
}
.card {
 
  width: 80%;
  grid-template-columns: repeat(1, 80%);
  grid-template-rows: none;
}
.card .title{
  width: 100%;
  font-weight: 900;
 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis
}
.title {
  width: 60%;
  font-weight: 900;
  margin-bottom: 2rem;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis
}
.addBasket{
  width:100%
}
.cardLink {
  padding: 1rem;
  display: inline-block;
  color: black;
  
}
.cardLink a {
  text-decoration: none;
  color: black;
  
}
.cardLink input {
  width: 5vw;
}
.rate {
  
  display: flex;
}
.rate div:last-child {
  font-size: 1rem;
  color: rgb(255, 38, 0);
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  font-size: 20px;
}
.centerContent {
  display: flex;
  margin-bottom: 1.5rem;
}
.image {
  margin-right: 1rem;
}
.image img {
  width: 15vw;
  height: 15vw;
}


