.container{
    text-align: center;
    margin-top: 5rem;
}

.field{
    display: flex;
    justify-content: space-between;
    width: 19rem;
    margin: 1.5rem auto;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    position: relative;
}
.field input{
    font-family: 'Inconsolata', monospace;
}
.error{
    right: 0;
    bottom:-1rem;
    position: absolute;
    font-size: 0.8rem;
    color: red;
    font-weight: 500;
}
.error span {
    padding-right: 0.5rem;
}